Create a list of your favorite movies and print it. Then, append a new movie to the list and
print the updated list.

In [1]:
fav_movies=['Dune 2','Kung Fu Panda 4','War','Puspa']
fav_movies

['Dune 2', 'Kung Fu Panda 4', 'War', 'Puspa']

In [3]:
fav_movies.append('Ghostbusters')
fav_movies

['Dune 2', 'Kung Fu Panda 4', 'War', 'Puspa', 'Ghostbusters', 'Ghostbusters']

Create a list of integers from 1 to 10 and print it. Calculate the sum of all the numbers in
the list and print the result.

In [6]:
numbers = list(range(1,11))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
result = 0
for num in numbers:
    result+=num
print("Sum of all number is: ", result)

Sum of all number is:  55

Create a list of mixed data types including strings, integers, and floats and print it. Remove
the first element from the list and print the modified list.

In [32]:
mix_data = [ 1,2,3,'uttam','hello',4.0,5.0]
mix_data

[1, 2, 3, 'uttam', 'hello', 4.0, 5.0]

In [33]:
len(mix_data)
remove = mix_data.pop(0)
remove
mix_data

[2, 3, 'uttam', 'hello', 4.0, 5.0]

Create a tuple containing the names of the days of the week and print it. Access and print
the name of the third day.

days_in_weeks = ('sunday','monday','tuesday','wednesday','thrusday','friday','saturday');
days_in_weeks

In [35]:
days_in_weeks[2]

'tuesday'

Create a tuple of your favorite colors and print it. Check if a certain color is present in the
tuple and print the result.

In [37]:
color = ('White','Black','Navy Blue','Desert Sand')
color

('White', 'Black', 'Navy Blue', 'Desert Sand')

In [40]:
if 'White' in color:
    print("yes it exist")
else:
    print("not exist")

yes it exist

Create a dictionary representing the information of a book with keys "title", "author", and
"year" and print it. Update the year of the book and print the updated dictionary.

In [42]:
book = { 'title' : 'The monk who sold his ferrari','author':'Robin Sharma','year':2010}
book

{'title': 'The monk who sold his ferrari',
 'author': 'Robin Sharma',
 'year': 2010}

In [43]:
book['year'] = 1999
book

{'title': 'The monk who sold his ferrari',
 'author': 'Robin Sharma',
 'year': 1999}

Create a dictionary containing the names of fruits as keys and their corresponding colors
as values and print it. Add a new fruit-color pair to the dictionary and print the updated
dictionary.

In [50]:
fruit_with_color ={'red':'apple','green':'watermelon','orange':'orange','yellow':'banana'}
fruit_with_color

{'red': 'apple', 'green': 'watermelon', 'orange': 'orange', 'yellow': 'banana'}

In [51]:
fruit_with_color['brownish'] = 'kiwi'
fruit_with_color

{'red': 'apple',
 'green': 'watermelon',
 'orange': 'orange',
 'yellow': 'banana',
 'brownish': 'kiwi'}

Create a dictionary representing the population of different cities with keys as city names
and values as population numbers and print it. Remove a city from the dictionary and print
the modified dictionary.

In [53]:
population = { 'bhaktapur' : 300000,'patan':500000,'lalitpur':99999,'kavra':1000000}
population

{'bhaktapur': 300000, 'patan': 500000, 'lalitpur': 99999, 'kavra': 1000000}

In [54]:
population.pop('bhaktapur')
population

{'patan': 500000, 'lalitpur': 99999, 'kavra': 1000000}